.footer{
    width: 100%;
    height: 20px;
    background-color: var(--background-color-box);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical alignment */
    align-items: center;
}
.footer p{
    position: relative;
    font-size: 8px;
    text-align: center;
    color: var(--footer-p-color);
}
.footer p span{
    color:var(--footer-span-color)
}