.menuItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  color: var(--text-color);
  background-color: var(--background-color-box);
  border-top: 0.75px solid var(--border-bottom-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.menuItems p:hover {
  color: #7469B6;
  cursor: pointer;
}
.selectedMenu{
    color: #7469B6;
    font-weight: 500;
}
@media (max-width: 370px) {
  .menuItems {
    font-size: 8px;
  }
}