.menuItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  color: rgb(108, 108, 108);
  border-top: 0.75px solid #dddddd;
}
.menuItems p:hover {
  color: #7469B6;
  cursor: pointer;
}
.selectedMenu{
    color: #7469B6;
    font-weight: 500;
}
@media (max-width: 370px) {
  .menuItems {
    font-size: 8px;
  }
}