.todoListContainer {
  background-color: #fff;
  margin-top: 25px;
  border-radius: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.todoListContent {
  height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color-box);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.todoListContent .todoItem {
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  font-size: 18px;
  color: rgb(84, 83, 83);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todoListContent .todoItem button {
  border: none;
  background: none;
  margin-left: auto;
  width: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.todoListContent .todoItem .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.todoListContent .todoItem .checkbox:checked {
  background-color: #cb89f4;
}
.todoListContent h1 {
  color: #ccc;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 370px) {
  .todoListContent {
    height: 380px;
  }
}
