.todoContainer {
  position: relative;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.heading p {
  font-size: 30px;
}
.heading button {
  border: none;
  background: none;
  cursor: pointer;

}
.heading button i {
  color: white;
}
.todoContainer input {
  background-color: var(--background-color-box);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 12px 10px;
  font-size: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.todoContainer input::placeholder {
  color: rgb(173, 171, 171);
  font-size: 18px;
}
.errorTag {
  font-size: 9px;
  color: #ffe6e6;
  font-family: sans-serif;
  font-weight: bold;
  margin: 2px;
  padding: 0;
}
.lightIcon {
  color: #fff;
}

@media (max-width: 370px) {
  .heading {
    font-size: 12px;
  }
  .todoContainer input,
  .todoContainer input::placeholder {
    font-size: 10px;
  }
}
